<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', { title: "Edit Movie", css: "main"}) %>

    <body>
        <%- include ('../partials/head-nav') %>
            <h1>Edit a movie in the database</h1>
            <form action="/movie/<%= movie._id %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%= movie.name %>" required/>
                <br>Director: <input type="text" name="director" value="<%= movie.director %>" required/>
                <br>Actor: <input type="text" name="actors" value="<%= movie.actors %>" required/>
                <br>Genre: <input type="text" name="genre" value="<%= movie.genre %>" required/>
                <br>Year Released: <input type="text" name="yearReleased" value="<%= movie.yearReleased %>" required/>
                <br>Plot Summary: <textarea type="text" name="plotSummary" required><%=movie.plotSummary%></textarea>
                <br>Image: <input type="text" name="images" value="<%= movie.images %>" />
                <br>Showing at these theatres:<input type="checkbox" name="theatre" />
                <br><input type="submit" value="Update Movie" />
            </form>
            <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST"><input type="submit" value="Delete this movie" /></form>
    </body>

</html>