<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head", {title: "Edit Theatre", css: "main"}) %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class="container fullscreen">
                <div class="row">
                    <div class="col-lg-06 background-t">
                        <h1>Edit a theatre in the database</h1>
                        <form action="/theatre/<%= theatre._id %>?_method=PUT" method="POST">
                            Name: <input type="text" name="name" value="<%= theatre.name  %>" required /><br> Location: <input type="text" name="location" value="<%= theatre.location %>" required /><br> Image: <input type="text" name="image" value="<%=theatre.image%>"
                                required /><br>
                            <input type="submit" value="Update Theatre">
                        </form>
                        <form action="/theatre/<%=theatre._id%>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete Theatre">
                        </form>
                    </div>
                </div>
            </div>
    </body>

</html>