<!DOCTYPE html>
<html lang="en">


<%- include ('partials/head') %>

<body>
    <%- include ('partials/head-nav') %>
    <div class="home-movie-trending">
        <div class="home-movie-navigation">
            <nav>
                <a href="/movies/">Show All Movies</a>
                <br><a href="/theatres/">Show All Theatres</a>
            </nav>
        </div>
        <div class="home-movie-carousel-nav">
        </div>
        <div class="home-trending-body">
            <p class="home-movie-trending-text">Now Trending</p>
            <img src="" alt="">
            <div class="home-movie-description">
                <p><%= movies[0].name %></p>
                <p><%= movies[0].plotSummary %></p>
            </div>
        </div>
    </div>
    <div class="home-movie-nowplaying">
            <p>Now Playing</p>
        <div class="home-movie-playing-carousel">
            <% for( let index = 1; index < 7; index++ ) { %>
            <img src="<%= movies[index].images %> " alt="<%= movies[index].name %> ">
            <p><%= movies[index].name %> </p>
            <% } %>
        </div>
    </div>
</body>

</html>