<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/head-nav') %>
    <div>
        <p>Available showtimes</p>
        <ul>
            <% for( let index = 0; index < showings.length; index++ ) { %>
            <li>
                <a href="../ticket/<%= showings[index]._id %>">
                    Movie name: <%= showings[index].Movie.name %> <br>
                    Theatre: <%= showings[index].Theatre.name %> <br>
                    Showtime: <%= showings[index].time %> <br>
                    Price: <%= showings[index].price %> 
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>