<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class="container fullscreen">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Theatre description</p>
                        <%- include ('../partials/alltheatreList', {oneTheatre: theatre}) %>
                    </div>

                    <div class="col-sm-6">
                        <p>Current movies and showtimes:</p>
                        <ul class="list-group list-group-flush">
                            <% for( let index = 0; index < movies.length; index++ ) { %>
                                    <a href="ticket/<%= showings[index].Movie._id %>">
                                        <li class="list-group-item list-group-item-info"=>
                                        Movie name:
                                        <%= showings[index].Movie.name %>
                                        <br>Price: $
                                        <%= showings[index].price %>
                                        <br>Show Time:
                                        <%= showings[index].time %>
                                        </li>
                                    </a>
                                    <% } %>
                        </ul>
                    </div>
                </div>
            </div>
    </body>

</html>