<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div>
                <p>Theatre description</p>
                <%- include ('../partials/alltheatreList', {oneTheatre: theatre}) %>
            </div>

            <div>
                <p>Movies show at this theatre</p>
                <ul>
                    <% for( let index = 0; index < movies.length; index++ ) { %>
                        <% console.log(showing)%>
                            <li>
                                Movie name:
                                <a href="ticket/<%= movies[index].showingID %>">
                                    <%= movies[index].name %>
                                </a>
                                <br>Price: $
                                <%= movies[index].price %>
                                    <br>Show Time:
                                    <%= movies[index].time %>
                            </li>
                            <% } %>
                </ul>
            </div>
    </body>

</html>