<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div>
                <p>Theatre description</p>
                <%- include ('../partials/alltheatreList', {oneTheatre: theatre}) %>
            </div>

            <div>
                <p>Movies show at this theatre</p>
                <% console.log(movies[0]) %>
                    <ul>
                        <% for( let index = 0; index < movies.length; index++ ) { %>
                            <li>
                                Movie name:
                                <%= movies[index].name %>
                                    <br>Price: $
                                    <%= movies[index].price %>
                                        <br>Show Time:
                                        <%= movies[index].time %>
                            </li>
                            <% } %>
                    </ul>
            </div>
    </body>

</html>