<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class="container fullscreen">
                <h1>All Movies List</h1>
                <div class="row my-col">
                    <% movies.forEach((movie, idx) => { %>
                        <div class="col-md-3 background-movieEachLoop">
                            <div class="media">
                                <a href="movie/<%= movie._id %>">
                            <img class="align-self-start mr-3" style="width: 180px;" src="<%= movie.images %>" alt="movie-poster">
                            <h5 class="mt-0" style="color: #fff9d4">
                                <strong>Movie:</strong> <%= movie.name %> 
                            </h5>
                            </a>

                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
    </body>

</html>