<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/head-nav') %>
    <section id="movie-detail">
        <h1><%= movie.name %></h1> 
        <img src="<%= movie.images %>" alt="<%= movie.name %> poster">
        <aside>
            <p><%=movie.director%></p>
            <p><%=movie.actors%></p>
            <p><%=movie.genre%></p>
            <p><%=movie.yearReleased%></p>
            <p><%=movie.plotSummary%></p>
            <a href="/theatre/showings/<%= movie._id %>"><button>Book your tickets now!</button></a>
        </aside>
    </section>
    <div class="all-theatres-list-div">
        <% if (theatres.length > 0) { %>
            <p>Now playing at these theatres:</p>
        <% } else {%>
            <p>No current showings in your area.</p>
        <% } %>
        <% theatres.forEach((theatre, index) => { %>
            <%- include ('../partials/alltheatreList', {oneTheatre: theatre}) %>
                <% }) %>
    </div>
</body>
</html>