<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class=movie-description>

                <% console.log("theatre", theatre) %>
                    <% console.log("movie", movie) %>
                        <p>
                            Selected Movie:
                            <%= movie.name %>
                                <br>Selected Theatre:
                                <%= theatre.name %>
                                    <br>Selected Screening:
                                    <%= showing.time %>
                        </p>
                        <p>Plot Summary:
                            <%= movie.plotSummary %>
                        </p>

            </div>
            <div class=payment-information>
                <p>Name: <input type="text" name="name" placeholder="Enter Your CardHolder Name"=>
                    <br>Credit Card Number:<input type="text" name="ccnumber" placeholder="Enter Your Credit Card Name">
                    <br>Expiration Date:<input type="text" name="expdate" placeholder="Enter Your Card's Expiration Date">
                    <br> <input type="submit" value="Confirm Order">

                </p>
            </div>
    </body>

</html>