<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

    <body>
        <%- include ('../partials/head-nav') %>
            <div class="container">
                <div class="row fullscreen">
                    <div class="col-sm-6">
                        <div class="media background-ticket">
                            <img class="align-self-start mr-3" src="<%= movie.images %>" alt="movie-poster" style="width: 150px;">
                            <div class="media-body">
                                <p>
                                    <strong>Selected Movie:</strong>
                                    <%= movie.name %>
                                        <br><strong>Selected Theatre:</strong>
                                        <%= theatre.name %>
                                            <br><strong>Selected Screening:</strong>
                                            <%= showing.time %>
                                </p>
                                <p><strong>Plot Summary:</strong>
                                    <%= movie.plotSummary %>
                                </p>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <a href="/theatre/<%= theatre._id %>"><button class="btn btn-primary">Back to selected Theatre</button></a></div>
                                    <div class="col-sm-5">
                                        <a href="/movie/<%= movie._id %>"><button class="btn btn-primary float-right">Back to selected Movie</button></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <div class="form-group background-ticket">
                            <p>Name:
                                <input type="text" class="form-control" name="name" placeholder="Enter Your CardHolder Name">
                                <br>Credit Card Number:
                                <input type="text" class="form-control" name="ccnumber" placeholder="Enter Your Credit Card Name">
                                <br>Expiration Date:
                                <input type="text" name="expdate" class="form-control" placeholder="Enter Your Card's Expiration Date">
                                <br>Ticket Quantity (Maximum of 8) - Adult:
                                <select class="form-control ticketQty" id="adultQty">
                                    <option value = "0">0</option>
                                    <% for( let index = 1; index <= 8; index++ ) { %>
                                        <option value = "<%= index*showing.price %>"><%= index %></option>
                                    <% } %>
                                </select>
                                <br>Ticket Quantity (Maximum of 8) - Children (Half Price):
                                <select class="form-control ticketQty" id="childQty">
                                    <option value = "0">0</option>
                                    <% for( let index = 1; index <= 8; index++ ) { %>
                                        <option value = "<%= (index*showing.price)/2 %>"><%= index %></option>
                                    <% } %>
                                </select>
                                <hr>
                                <span id="totalPrice"></span>
                                <br> <input type="submit" value="Confirm Order" class="btn btn-primary float-right">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>